[Desktop Entry]
Name[af]=Kontakte
Name[ar]=المتراسلين
Name[as]=পৰিচয়সমূহ
Name[ast]=Contautos
Name[be]=Кантакты
Name[bn_IN]=পরিচিতি-সমূহ
Name[bs]=Kontakti
Name[ca]=Contactes
Name[ca@valencia]=Contactes
Name[cs]=Kontakty
Name[da]=Kontakter
Name[de]=Kontakte
Name[el]=Επαφές
Name[en_CA]=Contacts
Name[en_GB]=Contacts
Name[eo]=Kontaktaro
Name[es]=Contactos
Name[et]=Kontaktid
Name[eu]=Kontaktuak
Name[fa]=آشنایان
Name[fi]=Yhteystiedot
Name[fr]=Contacts
Name[fur]=Contats
Name[ga]=Teagmhálacha
Name[gd]=Luchd-aithne
Name[gl]=Contactos
Name[gu]=સંપર્કો
Name[he]=אנשי קשר
Name[hi]=संपर्क
Name[hr]=Kontakti
Name[hu]=Névjegyek
Name[id]=Kontak
Name[is]=Tengiliðir
Name[it]=Contatti
Name[ja]=連絡先
Name[kk]=Контакттар
Name[kn]=ಕಾಂಟ್ಯಾಕ್ಟ್ಸ್‌
Name[ko]=연락처
Name[lt]=Kontaktai
Name[lv]=Kontakti
Name[mjw]=Contacts
Name[mk]=Контакти
Name[ml]=സമ്പര്‍ക്കങ്ങള്‍
Name[mr]=संपर्क
Name[nb]=Kontakter
Name[ne]=सम्पर्कहरू
Name[nl]=Contacten
Name[oc]=Contactes
Name[or]=ସମ୍ପର୍କଗୁଡ଼ିକ
Name[pa]=ਸੰਪਰਕ
Name[pl]=Kontakty
Name[pt]=Contactos
Name[pt_BR]=Contatos
Name[ro]=Contacte
Name[ru]=Контакты
Name[sk]=Kontakty
Name[sl]=Stiki
Name[sr]=Контакти
Name[sr@latin]=Kontakti
Name[sv]=Kontakter
Name[ta]=தொடர்புகள்
Name[te]=పరిచయాలు
Name[tg]=Тамосҳо
Name[th]=สมุดผู้ติดต่อ
Name[tr]=Kişiler
Name[ug]=ئالاقەداشلار
Name[uk]=Контакти
Name[vi]=Danh bạ
Name[zh_CN]=联系人
Name[zh_HK]=聯絡人
Name[zh_TW]=聯絡人
Name=Contacts
Comment[ar]=مدير متراسلين لجنوم
Comment[as]=GNOME ৰ বাবে এটা পৰিচয় ব্যৱস্থাপক
Comment[be]=Кіраўнік кантактаў для GNOME
Comment[bn_IN]=GNOME-এর জন্য একটি পরিচিতি ব্যবস্থাপক
Comment[bs]=Kontakt upravitelj za GNOME
Comment[ca]=Un gestor de contactes per al GNOME
Comment[ca@valencia]=Un gestor de contactes per al GNOME
Comment[cs]=Správa kontaktů pro GNOME
Comment[da]=En kontaktpersonhåndtering til GNOME
Comment[de]=Eine Kontaktverwaltung für GNOME
Comment[el]=Ένας διαχειριστής επαφών του GNOME.
Comment[en_GB]=A contacts manager for GNOME
Comment[eo]=Kontakto-mastrumilo por GNOME
Comment[es]=Un gestor de contactos para GNOME
Comment[eu]=Kontaktuen kudeatzailea GNOMErako
Comment[fa]=یک مدیریت آشنایان برای گنوم
Comment[fi]=Yhteystietojen hallinta Gnomelle
Comment[fr]=Un gestionnaire de contacts pour GNOME
Comment[fur]=Un gjestôr contats par GNOME
Comment[gd]=Manaidsear luchd-aithne airson GNOME
Comment[gl]=Un xestor de contactos para GNOME
Comment[gu]=GNOME માટે સંપર્ક સંચાલક
Comment[he]=מנהל אנשי קשר עבור GNOME
Comment[hi]=गनोम के लिए संपर्क प्रबंधक
Comment[hr]=Upravitelj kontaktima za GNOME
Comment[hu]=Egy névjegykezelő a GNOME-hoz
Comment[id]=Manajer kontak untuk GNOME
Comment[is]=Tengiliðastjórnun fyrir GNOME
Comment[it]=Un gestore di contatti per GNOME
Comment[ja]=GNOME の連絡先管理ツール
Comment[kk]=GNOME үшін контакттарды басқарушысы
Comment[kn]=GNOME ಗಾಗಿನ ಸಂಪರ್ಕವಿಳಾಸದ ವ್ಯವಸ್ಥಾಪನೆ
Comment[ko]=그놈용 연락처 관리자
Comment[lt]=GNOME kontaktų tvarkytuvė
Comment[lv]=GNOME kontaktu pārvaldnieks
Comment[mjw]=A contacts manager for GNOME
Comment[mr]=GNOME करिता संपर्क व्यवस्थापन
Comment[nb]=Håndtering av kontakter for GNOME
Comment[ne]=जिनोमको लागि एक समपर्क प्रबन्धक
Comment[nl]=Contactenbeheer voor de Gnome-werkomgeving
Comment[oc]=Un gestionari de contactes per GNOME
Comment[or]=GNOME ପାଇଁ ଏକ ସମ୍ପର୍କ ପରିଚାଳକ
Comment[pa]=ਗਨੋਮ ਲਈ ਸੰਪਰਕ ਮੈਨੇਜਰ
Comment[pl]=Menedżer kontaktów dla środowiska GNOME
Comment[pt]=Um gestor de contactos para o GNOME
Comment[pt_BR]=Um gerenciador de contatos para o GNOME
Comment[ro]=Un manager de contacte pentru GNOME
Comment[ru]=Менеджер контактов для GNOME
Comment[sk]=Správca kontaktov prostredia GNOME
Comment[sl]=Upravljalnik stikov namizja GNOME
Comment[sr]=Гномов управник контактима
Comment[sr@latin]=Gnomov upravnik kontaktima
Comment[sv]=En kontakthanterare för GNOME
Comment[ta]=GNOME க்கான தொடர்பு நிர்வாகி
Comment[te]=గ్నోమ్ కొరకు ఒక పరిచయాల నిర్వాహిక
Comment[tg]=Мудири тамосҳо барои GNOME
Comment[th]=โปรแกรมจัดการสมุดผู้ติดต่อสำหรับ GNOME
Comment[tr]=GNOME için Adres Defteri Yöneticisi
Comment[uk]=Керування контактами для GNOME
Comment[vi]=Bộ quản lý danh bạ dành cho GNOME
Comment[zh_CN]=GNOME 的联系人管理工具
Comment[zh_HK]=GNOME 的聯絡人管理程式
Comment[zh_TW]=GNOME 的聯絡人管理員
Comment=A contacts manager for GNOME
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ar]=أصدقاء;دفتر عناوين;
Keywords[as]=বন্ধুসকল;ঠিকনা বহী;
Keywords[be]=сябры;прыяцелі;таварышы;адрасная кніга;
Keywords[bn_IN]=বন্ধু; ঠিকানা বই;
Keywords[bs]=friends;address book;prijatelji;adresar;
Keywords[ca]=amics;llibreta d'adreces;
Keywords[ca@valencia]=amics;llibreta d'adreces;
Keywords[cs]=přátelé;přítelkyně;kamarádi;kamarádky;adresář;
Keywords[da]=venner;adressebog;
Keywords[de]=Freunde;Adressbuch;Kontakte;
Keywords[el]=φίλοι;βιβλίο διευθύνσεων;επαφές;friends;address book;
Keywords[en_GB]=friends;address book;
Keywords[eo]=amikoj;adresaro;
Keywords[es]=amigos;libreta de direcciones;
Keywords[et]=sõbrad;aadressiraamat;kontaktid;telefoniraamat;
Keywords[eu]=lagunak;helbide-liburua;
Keywords[fa]=friends;address book;دوستان;دفترچه تلفن;
Keywords[fi]=friends;address book;kaverit;ystävät;henkilöt;osoitekirja;kontaktit;
Keywords[fr]=amis;carnet d’adresses;
Keywords[fur]=amîs;rubriche;
Keywords[ga]=cairde;leabhar seoltaí;
Keywords[gd]=friends;address book;caraidean;leabhar sheòlaidhean;leabhar nan seòladh;seòlaidhean;
Keywords[gl]=amigos;caderno de enderezos;
Keywords[gu]=મિત્રો;સરનામાંપુસ્તિકા;
Keywords[he]=חברים;פנקס כתובות;ספר כתובות;אנשי קשר;
Keywords[hi]=मित्रों;पता पुस्तिका;
Keywords[hr]=prijatelji;adresar;
Keywords[hu]=barátok;címjegyzék;
Keywords[id]=teman;buku alamat;
Keywords[is]=vinir;nafnaskrá;netfangaskrá;
Keywords[it]=contatti;amici;rubrica;
Keywords[ja]=friends;address book;友達;アドレス帳;contacts;
Keywords[kk]=friends;address book;достар;адрестік кітапша;
Keywords[kn]=ಸ್ನೇಹಿತರು;ವಿಳಾಸ ಪುಸ್ತಕ;
Keywords[ko]=friends;친구;address book;주소록;
Keywords[lt]=draugai;adresų knyga;
Keywords[lv]=draugi;adrešu grāmata;
Keywords[mjw]=friends;address book;
Keywords[ml]=കൂട്ടുകാര്‍;വിലാസപുസ്തകം;
Keywords[mr]=मित्र;पत्ता पुस्तिका;
Keywords[nb]=venner;adressebok;
Keywords[ne]=मित्र;ठेगाना;पूस्तिका;
Keywords[nl]=friends;address book;vrienden;kennissen;contactpersonen;contacten;personen;adressen;adresboek;
Keywords[oc]=amics;quasernet d'adreças;
Keywords[or]=ସାଙ୍ଗ ସାଥୀ;ଠିକଣା ପୁସ୍ତକ;
Keywords[pa]=ਦੋਸਤ;ਮਿੱਤਰ;ਐਡਰੈਸਬੁੱਕ;ਸਿਰਨਾਵਾਂ;friends;address book;
Keywords[pl]=przyjaciele;znajomi;ludzie;osoby;książka adresowa;
Keywords[pt]=amigos;livro de endereços;
Keywords[pt_BR]=amigos;catálogo de endereços;
Keywords[ro]=friends;address book;prieteni;agendă;agendă de contacte;contacte;
Keywords[ru]=друзья;адресная книга;
Keywords[sk]=priatelia;adresár kontaktov;
Keywords[sl]=prijatelji;imenik;stiki;naslovi;vizitka;kontakt;poslovanje;contact;
Keywords[sr]=пријатељи;адресар;именик;prijatelji;adresar;imenik;friends;address book;
Keywords[sr@latin]=prijatelji;adresar;imenik;prijatelji;adresar;imenik;friends;address book;
Keywords[sv]=vänner;adressbok;
Keywords[ta]=நண்பர்கள்;முகவரி புத்தகம்;
Keywords[te]=మిత్రులు;చిరునామా పుస్తకం;
Keywords[tg]=дӯстон;китоби суроғаҳо;
Keywords[th]=เพื่อน;สมุดที่อยู่;
Keywords[tr]=arkadaşlar;adres defteri;
Keywords[ug]=دوستلار;ئادرېس دەپتىرى;friends;address book;
Keywords[uk]=друзі;адресна книга;
Keywords[vi]=friends;bạn;bè;ban;be;danh;ba;bạ;address book;sổ;địa;chỉ;so;dia;chi;liên;lạc;lien;lac;
Keywords[zh_CN]=friends;address book;好友;朋友;通讯录;地址簿;
Keywords[zh_HK]=friends;address book;朋友;通訊錄;
Keywords[zh_TW]=friends;address book;朋友;通訊錄;
Keywords=friends;address book;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Contacts.Devel
Exec=gnome-contacts
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Office;ContactManagement;
OnlyShowIn=GNOME;Unity;
DBusActivatable=true
