*.bak
*.lo
*.o
*.orig
*.rej
*.tab.c
*~
.deps
.gitignore
.libs
Makefile
Makefile.in
/aclocal.m4
/ChangeLog
/autom4te.cache
/autoscan.log
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/ltmain.sh
/depcomp
/install-sh
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
/libtool
/missing
/po/*.gmo
/po/*.mo
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/gnome-contacts.pot
/po/stamp-it
/m4
/stamp-h1

ABOUT-NLS
INSTALL
config.rpath
data/gnome-contacts-search-provider.ini
data/gnome-contacts.desktop
data/org.gnome.Contacts.SearchProvider.service
data/gnome-contacts.appdata.xml
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
data/org.gnome.Contacts.desktop
data/org.gnome.Contacts.service
data/org.gnome.Contacts.appdata.xml
