*.bak
*.lo
*.o
*.orig
*.rej
*.tab.c
*~
.deps
.gitignore
.libs
Makefile
Makefile.in
/aclocal.m4
/ChangeLog
/autom4te.cache
/autoscan.log
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/ltmain.sh
/depcomp
/install-sh
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
/libtool
/missing
/po/*.gmo
/po/*.mo
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/gnome-contacts.pot
/po/stamp-it
/m4
/stamp-h1

ABOUT-NLS
INSTALL
config.rpath
data/gnome-contacts-search-provider.ini
data/gnome-contacts.desktop
data/gnome-contacts.desktop.in
data/org.gnome.Contacts.SearchProvider.service
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
src/contacts-avatar-dialog.c
src/contacts-contact-editor.c
src/contacts-contact-sheet.c
src/contacts-linked-accounts-dialog.c
src/contacts-setup-window.c
src/contacts-shell-search-provider.c
src/contacts-accounts-list.c
src/gnome-contacts-search-provider
src/memory-icon.c
src/org.gnome.Contacts.enums.xml
src/org.gnome.Contacts.gschema.valid
src/org.gnome.Contacts.gschema.xml
