/*
 * GNOME Contacts
 */

ContactsListPane.frame:dir(ltr) {
  border-width: 0 1px 0 0;
}

ContactsListPane.frame:dir(rtl) {
  border-width: 0 0 0 1px;
}

.contacts-map {
    background-color: @theme_bg_color;
}

/* The contacts in the left pane */
.contacts-contact-list {
  background-color: transparent;
}

/* A single row in the contact list pane */
row.contact-data-row {
}

/* Background color in contacts pane, similar to .documents-main-view.view */
.contacts-main-view.view {
  background-color: mix(@theme_bg_color, @theme_base_color, 0.4);
}

.contacts-suggestion {
  border-top: 1px solid @borders;
  background-color: shade(@theme_bg_color, 0.9);
}

/* Border on the right in the left menu toolbar */
.contacts-left-header-bar:dir(ltr) {
 border-right-width: 1px;
}

.contacts-left-header-bar:dir(rtl) {
 border-left-width: 1px;
}

.contacts-left-header-bar:dir(ltr),
.contacts-right-header-bar:dir(rtl) {
  border-top-right-radius: 0;
}

.contacts-right-header-bar:dir(ltr),
.contacts-left-header-bar:dir(rtl) {
  border-top-left-radius: 0;
}

/* Give the avatar in the ContactSheet some margin,
 * so it doesn't jump when switching to the editor. */
.contacts-contact-sheet .contacts-avatar {
  margin: 4px 8px;
}

.contacts-postal-entry {
 border-radius: 0 0 0 0;
 border-width: 1px 1px 0 1px;
}

.contacts-postal-entry:nth-child(first) {
 border-radius: 4px 4px 0 0;
}

.contacts-postal-entry:nth-child(last) {
 border-radius: 0 0 4px 4px;
 border-width: 1px;
}

/* The style for the background "watermark" image and text.
 * (copied from dim-label) */
.contacts-watermark {
  opacity: 0.55;
  text-shadow: none;
}

.contacts-avatar-popover .contact-display-name {
  font-size: 20px;
}
