ContactsListPane {
    border-style: solid;
    border-width: 0 1 0 0;
    border-color: #878787;
    border-image: none;
    padding: 0 1 1 1;
}

.contact-list-frame {
    border-style: solid;
    border-width: 0 1 1 1;
    border-color: #878787;
    border-image: none;
    padding: 0 1 1 1;
}

ContactsListPane GtkEntry.image {
    color: #888a85;
}

ContactsViewWidget {
    -GtkTreeView-vertical-separator: 8;
}

.contact-button:active {
    border-color: #000000;
    border-image: none;
}

.contact-entry {
    border-image: none;
    border-width: 1;
    border-radius: 3;
    border-style: solid;
    border-color: #bbbeb7;
    background-image: none;
}

.contact-entry.contact-postal-entry {
    border-radius: 0 0 0 0;
    border-width: 1 1 0 1;
}

.contact-entry.contact-postal-entry:nth-child(first) {
    border-radius: 3 3 0 0;
}

.contact-entry.contact-postal-entry:nth-child(last) {
    border-radius: 0 0 3 3;
    border-width: 1 1 1 1;
}

.contact-combo .button {
    border-image: none;
    border-width: 1;
    border-style: solid;
    border-color: #bbbeb7;
    background-image: none;
    background-color: #ffffff;
}

.contact-button {
    border-image: none;
    border-width: 0;
    border-style: none;
    -adwaita-focus-border-radius: 8;
    padding: 0;
    background-color: #ffffff;
    background-image: none;
    -GtkButton-child-displacement-x: 0;
    -GtkButton-child-displacement-y: 0;
}

.contact-frame-button {
    padding: 0;
    border-image: none;
    border-width: 0;
    border-radius: 0;
    border-style: none;
    background-color: @bg_color;
    background-image: none;
    -adwaita-focus-border-radius: 4;
    -GtkButton-child-displacement-x: 0;
    -GtkButton-child-displacement-y: 0;
}

.contact-frame-button:active {
    background-color: #2e3436;
}

.contact-frame-menu {
    background-color: #2e3436;
    color: #ffffff;
}

.contact-pane {
    background-color: @bg_color;
}

.presence-icon-available {
    color: #4e9a06;
}

.presence-icon-offline {
    color: #2e3436;
}

.presence-icon-away {
    color: #babdb6;
}

.presence-icon-busy {
    color: #f57900;
}

.contacts-notification {
    border-radius: 0 0 5 5;
}
