/* Copied from adwaita */
@define-color borders #a7aba7;

/* Line at top in contacts pane, similar to .documents-scrolledwin.frame */
.contacts-content.frame {
    border-width: 1 0 0 0;
    border-radius: 0;
}

/* Background color in contacts pane, similar to .documents-main-view.view */
.contacts-main-view.view {
    background-color: #f1f2f1;
}

/* Border on the right in the left menu toolbar */
.contacts-left-toolbar.toolbar.menubar {
    border-width: 0 1 0 0;
    border-style: solid;
    border-color: @borders;
}

/* Sidebar with line at top and the left */
ContactsWindow .sidebar.frame {
    border-width: 1 1 0 0;
    border-style: solid;
    border-color: @borders;
    border-image: none;
    border-radius: 0;
    padding: 0;
}

/* Primary toolbar with no line at top to avoid conflicts with frame border */
ContactsWindow .primary-toolbar.toolbar {
    border-width: 0 0 1 0;
}

ContactsWindow .sidebar,
ContactsWindow .sidebar.view {
    background-color: #ebebeb;
}

.contact-button:active {
    border-color: #000000;
    border-image: none;
}

.contact-entry {
    border-image: none;
    border-width: 1;
    border-radius: 3;
    border-style: solid;
    border-color: #bbbeb7;
    background-image: none;
    background-color: #ffffff;
}

.contact-entry:selected,
.contact-entry:selected:focus {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

.contact-entry.contact-postal-entry {
    border-radius: 0 0 0 0;
    border-width: 1 1 0 1;
}

.contact-entry.contact-postal-entry:nth-child(first) {
    border-radius: 3 3 0 0;
}

.contact-entry.contact-postal-entry:nth-child(last) {
    border-radius: 0 0 3 3;
    border-width: 1 1 1 1;
}

.contact-combo .button {
    border-image: none;
    border-width: 1;
    border-style: solid;
    border-color: #bbbeb7;
    background-image: none;
    background-color: #ffffff;
}

.contact-frame-button {
    padding: 0;
    border-image: none;
    border-width: 0;
    border-radius: 0;
    border-style: none;
    background-color: transparent;
    background-image: none;
    -adwaita-focus-border-radius: 4;
    -GtkButton-child-displacement-x: 0;
    -GtkButton-child-displacement-y: 0;
}

.contact-frame-button:active {
    background-color: #2e3436;
}

.contact-frame-menu {
    background-color: #2e3436;
    color: #ffffff;
}

.notification {
    border-style: solid;
    border-color: #949486;
    border-width: 0 1 1 1;
    border-radius: 0 0 5 5;
    padding: 8;
    background-color: #d8d8d8;
    background-image: -gtk-gradient (linear,
				     left top, left bottom,
				     from (rgba (0, 0, 0, 0.15)),
				     color-stop (0.15, rgba (0, 0, 0, 0.04)),
				     to (rgba (0, 0, 0, 0.0)));
}
