ContactsApp > GtkFrame.frame {
    border-style: solid;
    border-width: 0 1 1 1;
    padding: 0 1 1 1;
}

ContactsListPane GtkEntry.image {
    color: #888a85;
}

ContactsListPane GtkTreeView {
    -GtkTreeView-vertical-separator: 4;
}

.contact-button:active {
    border-color: #000000;
    border-image: none;
}

.contact-button {
    border-image: none;
    border-width: 0;
    border-style: none;
    -adwaita-focus-border-radius: 8;
    padding: 0;
    background-color: #ffffff;
    background-image: none;
    -GtkButton-child-displacement-x: 0;
    -GtkButton-child-displacement-y: 0;
}

.contact-pane {
    background-color: #ffffff;
}

.presence-icon-available {
    color: #4e9a06;
}

.presence-icon-offline {
    color: #2e3436;
}

.presence-icon-away {
    color: #babdb6;
}

.presence-icon-busy {
    color: #f57900;
}
