/*
 * GNOME Contacts
 *
 * SPDX-License-Identifier: GPL-2.0-or-later
 */

.contacts-avatar-popover .contact-display-name {
  font-size: 20px;
}

/* Used to provide a little cutout around an overlayed circular button */
.contacts-cutout-button {
  background-color: var(--window-bg-color);
  color: var(--window-fg-color);
  border-radius: 9999px;
  padding: 2px;
}

/*         Contact List        */
/* --------------------------- */

.contact-list header {
  padding: 0 6px;
}

.contact-list-row {
  padding: 6px 0;
}

/* Contact Sheet/Editor common */
/* --------------------------- */

.contacts-sheet-container,
.contacts-contact-editor-container {
  margin: 24px 12px 24px 12px;
}

.contacts-sheet,
.contact-editor-group,
.contacts-persona-editor {
  border-spacing: 24px;
}

.contacts-sheet-header,
.contacts-editor-header {
  border-spacing: 12px;
  /* Add 12px to the 24px of border spacing of .contacts-sheet
   * to mimick the 36px of spacing between the header and the
   * contents of statuspage. */
  margin: 0 0 12px 0;
}

/* Contact Sheet-related CSS class */
/* ------------------------------- */

.contacts-sheet {
}

.contacts-sheet-property {
}


/* Contact Editor-related CSS classes */
/* ---------------------------------- */

/* Mimick the style of preferencesgroup */
.contacts-contact-editor > label {
    margin-top: 24px;
    margin-bottom: 6px;
    min-height: 34px;
}

.contacts-editor-header-name {
  /* The name in the sheet gets some margin from .title-1,
   * so do something similar here to prevent the name "jumping" */
  margin: 6px 0;
}

/* Common class for all widgets editing a property  */
.contacts-editor-property:not(:first-child) {
  /* Set margin-top here rather than border-spacing of
   * .contact-editor-group for the spacing to be taken into
   * account in the revealer's animation. */
  margin-top: 24px;
}

  .contacts-editor-property .contacts-property-icon {
    margin: 12px 12px;
  }

  .contacts-editor-property button.contacts-editor-main-widget {
    padding: 10px 0;
  }

.contacts-editor-address,
.contacts-editor-role {
  padding-top: 6px;
  padding-bottom: 6px;
}

.contacts-qr-code-dialog-qr-image {
  background: #fff;
  padding: 12px;
}

.favorite-button {
  font-weight: normal;
}
