gnome-contacts
*.stamp
contacts-app.c
contacts-cell-renderer-shape.c
contacts-contact.c
contacts-contact-pane.c
contacts-details-layout.c
contacts-link-dialog.c
contacts-linking.c
contacts-list-pane.c
contacts-menu-button.c
contacts-store.c
contacts-types.c
contacts-utils.c
contacts-view.c
main.c
