gnome-contacts
*.stamp
contacts-app.c
contacts-cell-renderer-shape.c
contacts-contact.c
contacts-contact-pane.c
contacts-details-layout.c
contacts-link-dialog.c
contacts-linking.c
contacts-list-pane.c
contacts-menu-button.c
contacts-store.c
contacts-types.c
contacts-utils.c
contacts-view.c
contact-resources.c
contacts-avatar-menu.c
contacts-clickable.c
contacts-contact-frame.c
contacts-new-contact-dialog.c
contacts-revealer.c
contacts-row.c
contacts-window.c
main.c
contacts-avatar-dialog.c
contacts-contact-editor.c
contacts-contact-sheet.c
contacts-linked-accounts-dialog.c
contacts-address-map.c
contacts-setup-window.c
contacts-shell-search-provider.c
contacts-accounts-list.c
gnome-contacts-search-provider
memory-icon.c
org.gnome.Contacts.enums.xml
org.gnome.Contacts.gschema.valid
